@model IntuneDriveMapping.Models.DriveMappingModel
@{
    ViewData["Title"] = "Delete-";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DriveLetter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DriveLetter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-outline-primary"/> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
