@model IEnumerable<IntuneDriveMapping.Models.DriveMappingModel>

<script src="~/vendor.min.js"></script>

<h2 class="mt-5">Generator</h2>

@if (ViewBag.ShowList != true)
{
    <form class="upload_file" asp-action="Upload" asp-controller="DriveMapping" method="post" enctype="multipart/form-data">
        <h4 style="font-family: monospace;">Upload your exported group policy configuration or start from scratch</h4>
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Error: </strong>@ViewBag.Error
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="form-group">
            <div class="input-group input-file" name="fileuploader">
                <input type="text" class="form-control mr-1" id="fileUpload" name="fileUpload" placeholder="Choose a file..." />
                <span class="input-group-btn">
                    <button class="btn btn-outline-primary btn-choose" type="button">Choose</button>
                </span>
            </div>
        </div>
        <script>
            function bs_input_file() {
                $(".input-file").before(
                    function () {
                        if (!$(this).prev().hasClass('input-ghost')) {
                            var element = $("<input type='file' class='input-ghost' accept='.xml,.ps1' style='visibility:hidden; height:0'>");
                            element.attr("name", $(this).attr("name"));
                            element.change(function () {
                                element.next(element).find('input').val((element.val()).split('\\').pop());
                            });
                            $(this).find("button.btn-choose").click(function () {
                                element.click();
                            });
                            $(this).find("button.btn-reset").click(function () {
                                element.val(null);
                                $(this).parents(".input-file").find('input').val('');
                            });
                            $(this).find('input').css("cursor", "pointer");
                            $(this).find('input').mousedown(function () {
                                $(this).parents('.input-file').prev().click();
                                return false;
                            });
                            return element;
                        }
                    }
                );
            }
            $(function () {
                bs_input_file();
            });
        </script>
        <input type="submit" class="btn btn-primary pull-left" value="Upload" />
        <input type="button" class="btn btn-success pull-left" value="Build from scratch" onclick="location.href='@Url.Action("Init", "DriveMapping")'" />
    </form>

}
else
{
    <h4 style="font-family: monospace;">Adjust your drivemapping configuration</h4>
    if (@ViewBag.Error != null)
    {
        <div class="alert alert-danger alert-dismissible show fade" role="alert">
            <strong>Error: </strong>@ViewBag.Error
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @await Html.PartialAsync("_Table", Model)

    <div class="mt-2">
        <form asp-controller="DriveMapping" asp-action="Download" method="post">
            <div class="form-check mb-1">
                <input type="checkbox" class="form-check-input" value="false" onchange="this.value=this.checked" id="removeStaleDrives" name="removeStaleDrives">
                <label class="form-check-label" for="removeStaleDrives">remove stale drives</label>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-danger float-right mr-1" data-toggle="ajax-modal" data-target="#startOverModal" data-url="@Url.Action("Reset")">Start over</button>
                <button type="button" class="btn btn-success float-right mr-1" data-toggle="ajax-modal" data-target="#createDriveMapping" data-url="@Url.Action("Create")">Add entry</button>
                <button class="btn btn-primary">Download PowerShell Script</button>
            </div>
        </form>
    </div>

    <div id="modal-placeholder"></div>
}